@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');

.center-text{
  text-align: center;
}

.text-s-c{
  letter-spacing: -1px;
  font-size: 20px;
  color: #A39F9F;
}

.color-text-green{
  color: #B6CF96;
}

.future-chart{
  margin-right: 30px;
  margin-left: 30px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  border-radius: 25px;
  margin: 30px;
  width: auto;
  border: 5px solid #D4D4D4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formItem label {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: .85em;
}

.submit-button {
  border: none;
  padding: 8px;
  background: #BEDB98;
  border-radius: 19px;
  min-width: 295px;
  cursor: pointer;
}

.select {
  border: none;
  font-size: 16px;
  background: #D9D9D9;
  min-width: 60px;
  text-align: center;
  border-radius: 8px;
  padding: 2px;
  position: relative;
}
